In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os

In [2]:
speed_path = os.path.join("Resources","Quickestelectriccars_EVDatabase.csv")
speed_df = pd.read_csv(speed_path)

In [3]:
speed_df.head()

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Tesla Roadster,Battery Electric Vehicle | 200 kWh,2.1 sec,410 km/h,970 km,206 Wh/km,920 km/h,All Wheel Drive,4,"€215,000","£189,000"
1,Tesla Model X Plaid,Battery Electric Vehicle | 90 kWh,2.6 sec,262 km/h,455 km,198 Wh/km,680 km/h,All Wheel Drive,7,"€116,990","£110,980"
2,Porsche Taycan Turbo S,Battery Electric Vehicle | 83.7 kWh,2.8 sec,260 km/h,390 km,215 Wh/km,860 km/h,All Wheel Drive,4,"€186,336","£138,830"
3,Porsche Taycan Turbo S Cross Turismo,Battery Electric Vehicle | 83.7 kWh,2.9 sec,250 km/h,380 km,220 Wh/km,790 km/h,All Wheel Drive,4,"€187,746","£139,910"
4,Tesla Cybertruck Tri Motor,Battery Electric Vehicle | 200 kWh,3.0 sec,210 km/h,750 km,267 Wh/km,710 km/h,All Wheel Drive,7,"€75,000","£68,000"

In [4]:
reduced_speed_df = speed_df.drop(columns = ["Subtitle","Drive","NumberofSeats","PriceinGermany","PriceinUK"])
reduced_speed_df.head()

,Name,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed
0,Tesla Roadster,2.1 sec,410 km/h,970 km,206 Wh/km,920 km/h
1,Tesla Model X Plaid,2.6 sec,262 km/h,455 km,198 Wh/km,680 km/h
2,Porsche Taycan Turbo S,2.8 sec,260 km/h,390 km,215 Wh/km,860 km/h
3,Porsche Taycan Turbo S Cross Turismo,2.9 sec,250 km/h,380 km,220 Wh/km,790 km/h
4,Tesla Cybertruck Tri Motor,3.0 sec,210 km/h,750 km,267 Wh/km,710 km/h

In [5]:
reduced_speed_df[['Name', 'Make']] = reduced_speed_df['Name'].str.split(' ', 1, expand=True)
reduced_speed_df.head()

,Name,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Make
0,Tesla,2.1 sec,410 km/h,970 km,206 Wh/km,920 km/h,Roadster
1,Tesla,2.6 sec,262 km/h,455 km,198 Wh/km,680 km/h,Model X Plaid
2,Porsche,2.8 sec,260 km/h,390 km,215 Wh/km,860 km/h,Taycan Turbo S
3,Porsche,2.9 sec,250 km/h,380 km,220 Wh/km,790 km/h,Taycan Turbo S Cross Turismo
4,Tesla,3.0 sec,210 km/h,750 km,267 Wh/km,710 km/h,Cybertruck Tri Motor

In [6]:
final_speed_df = reduced_speed_df[['Name', 'Make', 'Acceleration','TopSpeed', 'Range','FastChargeSpeed']]
final_speed_df.head()

,Name,Make,Acceleration,TopSpeed,Range,FastChargeSpeed
0,Tesla,Roadster,2.1 sec,410 km/h,970 km,920 km/h
1,Tesla,Model X Plaid,2.6 sec,262 km/h,455 km,680 km/h
2,Porsche,Taycan Turbo S,2.8 sec,260 km/h,390 km,860 km/h
3,Porsche,Taycan Turbo S Cross Turismo,2.9 sec,250 km/h,380 km,790 km/h
4,Tesla,Cybertruck Tri Motor,3.0 sec,210 km/h,750 km,710 km/h

In [7]:
#First create the db schema on Postgres pg admin 4
#DB Name "speed_db"
#Table Names ="EVMODELS" 

connection_string = "postgres:postgres@localhost:5432/speed_db"
engine = create_engine(f'postgresql://{connection_string}')

In [8]:
#Load DataFrames into database
final_speed_df.to_sql(name='EVMODELS', con=engine, if_exists='append', index=True)

In [ ]:
#check to confirm data has been loaded properly to table and db
pd.read_sql_query('select * from EVMODELS', con=engine).head()